body{
    padding: 0;
    margin: 0 auto;
}

.form{
    padding: 0;
    margin: 0 auto;
}

.title{
    text-align: center;
    font-size: 35px;
}

.description{
    text-align: center;
    font-size: 18px;
    font-style: italic;
    margin-top: -20px;
}

.header{
    margin-bottom: 20px;
    margin-top: 30px;
}

.form{
    height: 800px;
    width: 30%;
    border: 1px solid gray;
}

.first-row{
    margin-top: 20px;
    margin-left: 30px;
}

.name-input{
    display: block;
    width: 90%;
}

.second-row{
    margin-top: 20px;
    margin-left: 30px;
}

.mail-input{
    display: block;
    width: 90%;
}

.third-row{
    margin-top: 20px;
    margin-left: 30px;
}

.age-input{
    display: block;
    width: 90%;
}

.fourth-row{
    margin-top: 20px;
    margin-left: 30px;
}

#select-role{
    display: block;
    width: 90%;
}

.fifth-row{
    margin-top: 20px;
    margin-left: 30px;
}

#fav-feature{
    display: block;
    width: 90%;
}

.sixth-row{
    margin-top: 20px;
    margin-left: 30px;
}

label {
    display: block;
}

.seventh-row{
    margin-top: 20px;
    margin-left: 30px;
}

.eigth-row{
    margin-top: 20px;
    margin-left: 30px;
}

.text-area{
    width: 90%;
}

.submit-btn{
    margin-top: 20px;
    margin-left: 30px;
    width: 90%;
}



