*{
    padding: 0;
    margin: 0 auto;
}

.title{
    text-align: center;
}

.description{
    text-align: center;
}

.header{
    margin-bottom: 50px;
    margin-top: 30px;
}

.form{
    height: 800px;
    width: 30%;
    border: 1px solid gray;
}